<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="pathToDatFiles" value="c:\ext\_projects\_legacy\\DOS\i\"/>
      <add key="pathToJsonFiles" value="c:\ext\_projects\webstorm\first\"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>